/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/composer.lock
public/uploads
public/file
public/add_deduct_taxes
public/company_establishment_add
public/financial_list_add
public/salary2_taxes
public/salary_tax_add
